# --- Ignorar de Python ---
__pycache__/
venv/
env/
.env
*.pyc

# --- Ignorar de Unity ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
Frontend_Unity/[Ll]ibrary/
Frontend_Unity/[Tt]emp/
Frontend_Unity/[Ll]ogs/
Frontend_Unity/[Uu]ser[Ss]ettings/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# --- Ignorar IDE ---
.vscode/
.idea/

# --- Ignorar instaladores descargados ---
*.exe
!Instalar.bat
!Iniciar_Servidor.bat
!Abrir_Unity.bat